
body {  
  background: url('/background.jpg');  
  background-size: cover;  
  background-attachment: fixed;  
  background-position: center;  
}

main {
  margin: 10px auto;
  position: relative;
  padding: 2em;
  background: white;
  -webkit-box-shadow: 0 0px 100px rgba(0, 10, 123, 0.5);
  width: 80%;
  max-width: 65em;
  font-size: 14px;
}

@media (max-width: 650px) {
  main {
    font-size: 12px;
    width: 100%;
    padding: 0.5em;

  }
  .navbar-brand.h1{
    font-size: 16px;
  }

}
